<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Page</title>
</head>
<body>

    <main>

            <form action="/predict" method="post">
                <label for="rd_spend">R&D Spend:</label>
                <input type="text" id="rd_spend" name="rd_spend" required>
                <button type="submit">Predict</button>
            </form>

        <p id="predictionResult"></p>
    </main>


</body>
</html>
